
*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background-color: orange;
}

header nav{
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: orange;
  position: relative;
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav a{
  padding: 1rem 2rem;
  display: block;
}

header nav button{
  width: 35px;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

header nav button::before, header nav button::after{
  content: "";
  height: 3px;
  background-color: black;
  width: 25px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

header ul.active {
  display: block;
}

@media screen and (max-width : 1042px) {
  header nav ul{
    display: none;
  }

  header nav{
    display: block;
  }

  header nav button{
    position: absolute;
    right: 0;
    top: 0;
  }

}